<!--<div class="modal-header">-->
<!--  <div class="align-content-center" style="text-align: center">-->
<!--    <h4 id="modal-basic-title" autofocus >Character hinzufügen</h4>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="modal-body">-->
<!--  <form novalidate [ngrxFormState]="(formState$ | async)">-->
<!--    <div class="form-row">-->
<!--      <div class="form-group col-md-12 col-xs-12">-->
<!--        <label class="col-form-label">Name</label>-->
<!--        <div class="input-group">-->
<!--          <input class="form-control " type="text"-->
<!--                 [ngrxFormControlState]="(formState$|async).controls.name"-->
<!--                 placeholder="Name eingeben" readonly/>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="form-row">-->
<!--      <div class="form-group col-md-6 col-xs-12">-->
<!--        <label class="col-form-label ">Größe</label>-->
<!--        <input class="form-control" type="text"-->
<!--               [ngrxFormControlState]="(formState$|async).controls.height"-->
<!--               autocomplete="off" readonly-->
<!--               placeholder="Meter"/>-->
<!--      </div>-->
<!--      <div class="form-group col-md-6 col-xs-12">-->
<!--        <label class="col-form-label ">Gewicht</label>-->
<!--        <input class="form-control" type="text"-->
<!--               [ngrxFormControlState]="(formState$|async).controls.mass"-->
<!--               autocomplete="off" readonly-->
<!--               placeholder="kg"/>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="form-row">-->
<!--      <div class="form-group col-md-6 col-xs-12">-->
<!--        <label class="col-form-label ">Haarfarbe-->
<!--        </label>-->
<!--        <input class="form-control" type="text" readonly-->
<!--               [ngrxFormControlState]="(formState$|async).controls.hairColor"-->
<!--               autocomplete="off"-->
<!--               placeholder="Haarfarbe eingeben"/>-->
<!--      </div>-->
<!--      <div class="form-group col-md-6 col-xs-12 ">-->
<!--        <label class="col-form-label ">Augenfarbe</label>-->
<!--        <select class="custom-select" id="inputGroupSelect02"-->
<!--                [ngrxFormControlState]="(formState$|async).controls.eyeColor">-->
<!--          <option selected>Gelb</option>-->
<!--          <option value="1">Grün</option>-->
<!--        </select>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="form-row">-->
<!--      <div class="form-group col-md-6 col-xs-12">-->
<!--        <label class="col-form-label ">Geburtsjahr-->
<!--        </label>-->
<!--        <input class="form-control" type="text"-->
<!--               [ngrxFormControlState]="(formState$|async).controls.birthDate"-->
<!--               autocomplete="off" readonly-->
<!--               placeholder="YYYY"/>-->
<!--      </div>-->
<!--      <div class="form-group  col-md-6 col-xs-12">-->
<!--        <label class="col-form-label input-group ">Geschlecht</label>-->
<!--        <select class="custom-select" id="inputGroupSelect01"-->
<!--                [ngrxFormControlState]="(formState$|async).controls.gender">-->
<!--          <option selected>Weiblich</option>-->
<!--          <option value="1">Männlich</option>-->
<!--        </select>-->
<!--      </div>-->
<!--    </div>-->


<!--  </form>-->
<!--</div>-->
<!--<div class="modal-footer">-->
<!--  <div class=" float-right">-->
<!--    <div class="row">-->
<!--      <div class="col-6 btn-group">-->
<!--        <button type="button" class="btn btn-outline-dark mr-4" (click)="close()">Abbrechen</button>-->
<!--        <button class="btn btn-dark " (click)="saveSettings()">-->
<!--          Speichern-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
