<div class="modal-header">
  <div class="align-content-center" style="text-align: center">
    <h4 id="modal-basic-title" autofocus>Planet hinzufügen</h4>
  </div>
</div>
<div class="modal-body">
  <form novalidate [ngrxFormState]="(formState$ | async)">
    <div class="form-row">
      <div class="form-group col-md-12 col-xs-12">
        <label class="col-form-label">Name</label>
        <div class="input-group">
          <input class="form-control " type="text"
                 [ngrxFormControlState]="(formState$|async).controls.name"
                 placeholder="Name eingeben" readonly/>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12 col-xs-12">
        <label class="col-form-label ">Type</label>
        <select class="custom-select" id="inputGroupSelect02"
                [ngrxFormControlState]="(formState$|async).controls.type">
          <option selected>Dessert</option>
          <option value="1">Sand</option>
        </select>
      </div>

    </div>
    <div class="form-row">
      <div class="form-group col-md-12 col-xs-12">
        <label class="col-form-label ">Created By
        </label>
        <select class="custom-select" id="inputGroupSelect1"
                [ngrxFormControlState]="(formState$|async).controls.createdBy">
          <option selected>George Lucas</option>
          <option value="1">niemand</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 col-xs-12">
        <label class="col-form-label ">Genre
        </label>
        <input class="form-control" type="text"
               [ngrxFormControlState]="(formState$|async).controls.genre"
               autocomplete="off" readonly
               placeholder="Genre"/>
      </div>
      <div class="form-group  col-md-12 col-xs-12">
        <label class="col-form-label input-group ">Races</label>
        <textarea class="form-control" readonly style="resize: none;" id="exampleFormControlTextarea1"
                  [ngrxFormControlState]="(formState$|async).controls.races" rows="3" placeholder="mit Semikolon getrennt angeben"></textarea>
      </div>
    </div>


  </form>
</div>
<div class="modal-footer">
  <div class=" float-right">
    <div class="row">
      <div class="col-6 btn-group">
        <button type="button" class="btn btn-outline-dark mr-4" (click)="close()">Abbrechen</button>
        <button class="btn btn-dark " (click)="saveSettings()">
          Speichern
        </button>
      </div>
    </div>
  </div>
</div>
